# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Ignore cache & build files
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
dist/
build/
coverage/

# Ignore Windows-specific files
*.lnk
desktop.ini
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
